.nav-logo {
    width: 6rem; }
  
  a {
    text-decoration: none;
    color: #171717; }
  
  a:hover {
    color: red; }
  
  .menu {
    font-size: 1.5rem; }

 .productos__titulo{
    color: red;
    font-style: oblique;
    text-align: center;
 }
 .productos__cabecera{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
 }
 .card img{
   height: 400px;
   width: 100%;
 }
 .card-img-top{
     width: 100%;
     height: 500px;
 }
 .modalBtn{
   background-color:red;
 }
 .modalBtn:hover{
   background-color: black;
 }
.imagenCarrito{
  width: 25px;
}
.carta{
  margin:0;
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "prod1 prod2 prod3 prod4"
                       "prod5 prod6 prod7 prod8";
  row-gap: 2rem;

  justify-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  text-align: center;
  align-items: center;
}
.producto1{
  grid-area:prod1;
}
.producto2{
  grid-area:prod2;
}
.producto3{
  grid-area:prod3;
}
.producto4{
  grid-area:prod4;
}
.producto5{
  grid-area:prod5;
}
.producto6{
  grid-area:prod6;
}
.producto7{
  grid-area:prod7;
}
.producto8{
  grid-area:prod8;
}

@media only screen and (max-width: 600px){
  .modalBtn{
    position: relative;
  }
  .carta{
    display:grid;
    grid-template-columns: 80%;
    grid-template-areas:
                             "prod1"
                             "prod2"
                             "prod3"
                             "prod4"
                             "prod5"
                             "prod6"
                             "prod7"
                             "prod8";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
    padding-bottom: 2rem;
    justify-items: center;
  }
  .producto1{
    grid-area:prod1;
  }
  .producto2{
    grid-area:prod2;
  }
  .producto3{
    grid-area:prod3;
  }
  .producto4{
    grid-area:prod4;
  }
  .producto5{
    grid-area:prod5;
  }
  .producto6{
    grid-area:prod6;
  }
  .producto7{
    grid-area:prod7;
  }
  .producto8{
    grid-area:prod8;
  }

}
    footer {
        border-top: solid 2px; }
      
      .footer {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "telefono ig horarios"
       "copy copy copy";
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 5rem; }
        .footer__copy {
          border-top: solid 0.1rem;
          grid-area: copy;
          text-align: center; }
      
      #footer__redes__ig {
        font-size: 1.5rem;
        color: black; }
        #footer__redes__ig:hover {
          color: red; }
      
      #footer__redes__git {
        font-size: 1.5rem;
        color: black; }
        #footer__redes__git:hover {
          color: blue; }  